/* Для всего сайта разновидность и цвет шрифта:*/
@charset "UTF-8";
body {
  font-family: sans-serif;
  background: white;
}

.invalid{
  border: 2px solid red;
}
.valid{
  border: 2px solid green;
}

.top {
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 20px 115px;
}
  
.top-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
  
.top-box-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 48px;
  padding-top: 42px;
  background-color: #5A98D0;
  opacity: 60%;
}

main {
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 20px 115px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 64px;
  padding-bottom: 64px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-item {
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 359px;
  padding: 44px 32px;
  margin: 44px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 54px;
}

.product-item-h3 {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #1F3F68;

}

.product-item-p {
  color: #1F3F68;
  font-size: 16px;
  text-align: justify;
  line-height: 26px;
}

.product-item-buy-btn {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;  
}
